*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
body {
    /* overflow-x: hidden; */
    width: 100%;
    min-height: 100vh;
}
.main {
    /* border: 1px solid red; */
    width: 100vw;
    min-height: 100vh;
}
.main-global {
    width: 100%;
    min-height: 100vh;
    background-color: #0a0a0a;
}

.nav {
    width: 100%;
    /* border: 1px solid blue; */
    height: 10vh;
    /* background-color: #0c0c0c; */
    background-image: linear-gradient(to right, #0a0a0a, #0d1418);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-global {
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(to bottom, #0a0a0a, #0d1418);
    /* border: 1px solid red; */
}
.box-global {
    width: 85%;
    min-height: 70vh;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-direction: column;


}
.title-global {
    /* border: 1px solid blue; */
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #262627;
}


.logo-img {
    display: flex;
    /* border: 1px solid red; */
    min-width: 11vw;
    height: 70%;
}
.list-nav {
    list-style: none;
    display: flex;
    gap: 40px;
    /* border: 1px solid red; */
    font-size: 1.5vw;
    width: 47vw;
    height: 4vh;
    align-items: center;
    justify-content: space-around;
}

.item-list-nav {
    font-size: 1.2vw;
    border-bottom: 1px solid transparent;
    /* border: 1px solid yellow; */
    padding: 0px 20px;
    transition: all 0.5s;
}
.item-list-nav > a {
    color: #ffffff;
    text-decoration: none;
}

.item-list-nav:hover {
    border-bottom: 2px solid #8663FD;
}

.button-nav {
    width: 16vw;
    height: 5vh;
    border: 2px solid #ffffff;
    border-radius: 13px;
    padding: 15px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1vw;
    font-weight: bold;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
}
.button-nav:hover {
    border-color: #8663FD;
    color: #8663FD;
    
    scale: 1.04;
}

.button-nav-footer {
    width: 16vw;
    height: 5vh;
    border: 2px solid #ffffff;
    border-radius: 13px;
    padding: 15px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1vw;
    font-weight: bold;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
}
.cursor-pointer {
    cursor: pointer;
}
.container-section-group {
    /* border: 1px solid red; */
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.container-title {
    /* border: 2px solid blue; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
}

.h1-title {
    width: 50%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #262627;
    margin-top: 100px;
}

.container-section {
    /* border: 1px solid red; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 0.911);
}

::-webkit-scrollbar-track {
    background: rgba(247, 247, 247, 0);
}

.hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
}

.hamburguer.active {
    position: fixed;
    left: 90%;
}

.line-span {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.5s;
}

.list-full {
    border: 1px solid rgb(0, 255, 30);
    width: 80%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0%;
    background-image: linear-gradient(to right, #0a0a0a, #0d1418);
    z-index: 100;
    transition: 1s;
}

.list-full.active {
    left: 20%;
}



/* #container-list-full {
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */

/* #button-nav-two {
    width: 26vw;
    height: 5vh;
    border: 2px solid #ffffff;
    border-radius: 13px;
    padding: 15px;
    background-color: transparent;
    color: #ffffff;
    font-size: 1vw;
    font-weight: bold;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s;
}

#list-nav-two {
    display: none;
    flex-direction: column;
    border: 1px solid red;
    width: 26vw;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
} */


.hamburguer.borda {
    margin-top: 10px;
}
.hamburguer.active .line-span:nth-child(2) {
    opacity: 0;
    transition: 0.3s;
}
.hamburguer.active .line-span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s;
}
.hamburguer.active .line-span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.5s;
}


.box-icon {
    background-color: #141415;
    width: 150px;
    height: 200px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.3s;
    opacity: 0.7;
}

.box-icon:hover {
    transform: translate(-10px, -10px);
    box-shadow: 2px 3px 20px #ffffff53;
    opacity: 1;
}



.box-icon > p {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
}

.box-icon-img {
    /* border: 1px solid red; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icon-img > img {
    width: 80%;
    transition: all 0.5s;
}


.trasition-left {
    opacity: 0;
    filter: blur(15px);
    /* transition: all 3s; */
    transform: translate(-10%);
}

.trasition-left-show {
    opacity: 1;
    filter: blur(0px);
    transition: all 1.5s;
    transform: translate(0);
}

.trasition-right {
    opacity: 0;
    filter: blur(20px);
    /* transform: translate(50%); */
    transform: rotate(-180deg);
}
.trasition-right-show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    /* transform: translate(0); */
    transform: rotate(0);
}
.trasition-appear {
    opacity: 0;
    filter: blur(20px);
    transition: all 1.5s;
}
.trasition-appear-show {
    opacity: 1;
    filter: blur(0);
    transition: all 1.5s;
}



@media(max-width: 1330px) {
    .list-nav {
        font-size: 15px;
        /* border: 1px solid red; */
        
    }
    .button-nav {
        width: 200px;
        padding: 10px;
        font-size: 15px;
        gap: 15px;
        /* border: 1px solid red; */
    }
    #container-list-bar {
        width: 100% !important;
    }

    #list-bar > li {
        font-size: 25px !important;
    }
    #container-tech {
        justify-content: space-around !important;
    }

    #section-infor {
        font-size: 15px;
    }
}

@media(max-width: 1190px) {
    .list-nav {
        gap: 10px;
    }
    .container-section-group {
        /* flex-wrap: wrap; */
        align-items: center;
    }

    #Minha-img {
        /* border: 1px solid red !important; */
        display: none;
    }

    #description {
        width: 100% !important;
    }

    .container-sections {
        justify-content: space-between !important;

    }
  
}

@media (max-width: 1060px) {
    #section-infor {
        width: 100% !important;
    }
    #box-container-tech {
        width: 100% !important;
    }
    #container-tech {
        width: 100% !important;
        min-height: 20% !important;
    }

    .box-icon {
        width: 100px;
        height: 150px;

    }

    .h1-title {
        margin-top: 50px;
        margin-bottom: 0 !important;
    }

    .box-icon-img {
        width: 80%;
    }
    #container-section-ability {
        margin-top: 30px !important;
    }
    
}

@media(min-width: 950px) {
    .list-full {
        left: 100% !important;
        
    }
}

@media(max-width: 950px) {
    .hamburguer {
        display: flex;
    }
    .button-nav {
        display: none;
    }

    
    #information-header {
        
    }
    .h3-information {
        /* border: 1px solid red; */
        font-size: 4vw !important;
        width: 80% !important;
    }

    #h1-name {
        font-size: 6vw !important;
    }

    .buttons {
        width: 25vw !important;
        font-size: 1.5em !important;
    }

    #link-verPortifolio {
        width: 20vw !important;
        font-size: 1.2em !important;
    }
}

@media(max-width: 800px) {
    .list-nav {
        display: none;
    }
    #list-nav-two {
        display: flex;
    }

    .nav {
        justify-content: space-between;
        padding: 10px 40px;
    }

    /* #hamburguer {
        position: fixed;
        left: 90%;
    } */
    #container-midia {
        font-size: 1.5em !important;
    }

    #list-midia {
        width: 30% !important;
    }
    #group-aside {
        flex-wrap: wrap !important;
        /* justify-content: center; */
    }

    #list-languages {
        flex-wrap: wrap;
        gap: 10px !important;
    }

    #section-infor {
        font-size: 10px;
    }

    .box-icon > p {
        font-size: 15px !important;
        font-weight: bold;
        margin-top: 10px;
    }
    #list-bar > li {
        font-size: 17px !important;
    }

}

@media(max-width: 550px) {
    #information-header {
        margin: 0 !important;
        width: 90%;
        padding-left: 10%;
    }

    #container-midia {
        margin: 0 !important;
        width: 90%;
        padding-left: 10%;
    }


    .buttons {
        min-width: 150px !important;
        font-size: 17px !important;
    }
    #container-links-informations {
        flex-wrap: wrap !important;
    }
    #link-verPortifolio {
        width: 100% !important;
        font-size: 14px !important;
    }

    #list-midia {
        width: 70% !important;
    }

    .hamburguer.active {
        left: 80%;
    }
    .h1-title {
        /* border: 1px solid red; */
        width: 90%;
        font-size: 30px;
    }

    #description > h2 {
        font-size: 17px;
    }

    #description > h3 {
        font-size: 16px;
    }

    #description > p {
        font-size: 12px;
    }
    .aside {
        font-size: 12px;
    }
    #list-languages > li > P > strong {
        font-size: 15px;
    }

    #list-languages > li > P {
        font-size: 12px;
    }

    #list-bar > li {
        font-size: 12px !important;
    }
   
}

@media(max-width: 452px) {
    #section-ability {
        padding-bottom: 300px !important;
    }
}

@media(max-width: 400px) {
    .h3-information {
        /* border: 1px solid red; */
        font-size: 1.4em !important;
        width: 80% !important;
    }

    #h1-name {
        font-size: 2em !important;
    }

}

@media(max-width: 452px) {
    #section-ability {
        padding-bottom: 300px !important;
    }
    #list-bar > li {
        font-size: 8px !important;
    }
    #section-infor {
        font-size: 8px;
    }
}