@media(max-width: 1330px) {
    .list-nav {
        font-size: 15px;
        /* border: 1px solid red; */
        
    }
    .button-nav {
        width: 200px;
        padding: 10px;
        font-size: 15px;
        gap: 15px;
        /* border: 1px solid red; */
    }
    #container-list-bar {
        width: 100% !important;
    }

    #list-bar > li {
        font-size: 25px !important;
    }
    #container-tech {
        justify-content: space-around !important;
    }

    #section-infor {
        font-size: 15px;
    }

    .title-certificate {
        font-size: 13px !important;
    }
    .certificate-description {
        font-size: 10px !important;
    }
}

@media(max-width: 1100px) {
    .group-certificate{
        /* border: 1px solid red; */
        justify-content: center !important;
        gap: 20px !important;
    }
}

@media(max-width: 1190px) {
    .list-nav {
        gap: 10px;
    }
    .container-section-group {
        /* flex-wrap: wrap; */
        align-items: center;
    }

    #Minha-img {
        /* border: 1px solid red !important; */
        display: none;
    }

    #description {
        width: 100% !important;
    }

    .container-sections {
        justify-content: space-between !important;

    }
  
}

@media (max-width: 1060px) {
    #section-infor {
        width: 100% !important;
    }
    #box-container-tech {
        width: 100% !important;
    }
    #container-tech {
        width: 100% !important;
        min-height: 20% !important;
    }

    .box-icon {
        width: 100px;
        height: 150px;

    }

    .h1-title {
        margin-top: 50px;
        margin-bottom: 0 !important;
    }

    .box-icon-img {
        width: 80%;
    }
    #container-section-ability {
        margin-top: 30px !important;
    }
    
}

@media(min-width: 950px) {
    .list-full {
        left: 100% !important;
        
    }
}

@media(max-width: 950px) {
    .hamburguer {
        display: flex;
    }
    .button-nav {
        display: none;
    }

    
    #information-header {
        
    }
    .h3-information {
        /* border: 1px solid red; */
        font-size: 4vw !important;
        width: 80% !important;
    }

    #h1-name {
        font-size: 6vw !important;
    }

    .buttons {
        width: 25vw !important;
        font-size: 1.5em !important;
    }

    #link-verPortifolio {
        width: 20vw !important;
        font-size: 1.2em !important;
    }
}

@media(max-width: 800px) {
    .list-nav {
        display: none;
    }
    #list-nav-two {
        display: flex;
    }

    .nav {
        justify-content: space-between;
        padding: 10px 40px;
    }

    /* #hamburguer {
        position: fixed;
        left: 90%;
    } */
    #container-midia {
        font-size: 1.5em !important;
    }

    #list-midia {
        width: 30% !important;
    }
    #group-aside {
        flex-wrap: wrap !important;
        /* justify-content: center; */
    }

    #list-languages {
        flex-wrap: wrap;
        gap: 10px !important;
    }

    #section-infor {
        font-size: 10px;
    }

    .box-icon > p {
        font-size: 15px !important;
        font-weight: bold;
        margin-top: 10px;
    }
    #list-bar > li {
        font-size: 17px !important;
    }

}

@media(max-width: 550px) {
    #information-header {
        margin: 0 !important;
        width: 90%;
        padding-left: 10%;
    }

    #container-midia {
        margin: 0 !important;
        width: 90%;
        padding-left: 10%;
    }


    .buttons {
        min-width: 150px !important;
        font-size: 17px !important;
    }
    #container-links-informations {
        flex-wrap: wrap !important;
    }
    #link-verPortifolio {
        width: 100% !important;
        font-size: 14px !important;
    }

    #list-midia {
        width: 70% !important;
    }

    .hamburguer.active {
        left: 80%;
    }
    .h1-title {
        /* border: 1px solid red; */
        width: 90%;
        font-size: 30px;
    }

    #description > h2 {
        font-size: 17px;
    }

    #description > h3 {
        font-size: 16px;
    }

    #description > p {
        font-size: 12px;
    }
    .aside {
        font-size: 12px;
    }
    #list-languages > li > P > strong {
        font-size: 15px;
    }

    #list-languages > li > P {
        font-size: 12px;
    }

    #list-bar > li {
        font-size: 12px !important;
    }

    .card-curso {
        max-width: 300px !important;
    }
   
}

@media(max-width: 452px) {
    #section-ability {
        padding-bottom: 300px !important;
    }

    #list-bar > li {
        font-size: 8px !important;
    }
    #section-infor {
        font-size: 8px;
    }
}

@media(max-width: 400px) {
    .h3-information {
        /* border: 1px solid red; */
        font-size: 1.4em !important;
        width: 80% !important;
    }

    #h1-name {
        font-size: 2em !important;
    }

}
