#main{
    /* border: 1px solid red; */
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;

}

#form-group {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#group-campo-start {
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 40px;
}
#h1{
    margin-bottom: 50px;
}
.h2 {
    width: 100%;
    margin-top: 50px;
}
#icon-data-hora-group {
    color: rgb(186, 0, 0);
    font-size: 1.7em;
    display: none;
}
#span-group-dataVisita{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(186, 0, 0);
    font-size: 16px;
}
#group-campo-endereco {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

#section-responsavel-presente {
    width: 840px;
}

#box-responsavel-case-No {
    /* border: 2px solid red; */
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 40px;
    
}

#h3-responsavel-case-No {
    color: rgb(186, 0, 0);
    width: 100%;
}
#agrupamento-box-responsavel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.textarea {
    min-width: 400px !important;
    max-width: 400px;
    min-height: 120px;
    max-height: 120px;
}
#section-infor-def {
    display: none;
}

#footer-group {
    padding-bottom: 50px;
}

@media(max-width: 1050px) {
    #group-campo-start {
        justify-content: center;
    }
    .section-group {
        width: 100%;
    }
}


