*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* border: 3px solid red; */
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 70vh;
    /* border: 1px solid red; */
    background-color: #FBBC1E;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
.mancha-left {
    width: 25%;
    min-width: 300px;
    height: 60%;
    background-image: url("../imgs/mancha_left.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.mancha-left > img {
    transform: rotate(180deg);
}
.imgs {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo_ma {
    /* border: 3px solid rgb(17, 0, 255); */
    position: absolute;
    width: 18.75rem;
    height: 100px;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
}
.img_center {
    /* border: 3px solid blue; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
}

.bnc_one {
    position: absolute;
    left: 100px;
    top: 50px;
    /* border: 2px solid red; */
    width: 13%;
    height: 70%;
    /* animation: float 4s ease-in-out infinite; */
}

.mancha-right {
    width: 25%;
    min-width: 300px;
    height: 58%;
    position: absolute;
    /* border: 1px solid red; */
    background-image: url("../imgs/mancha_right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bnc_two {
    position: absolute;
    left: 85%;
    top: 20px;
    /* border: 2px solid rgb(0, 26, 255); */
    width: 13%;
    height: 70%;
    /* animation: float 4s ease-in-out infinite; */
}

.bnc_three {
    position: absolute;
    left: 75%;
    top: 65%;
    /* border: 2px solid rgb(0, 26, 255); */
    width: 13%;
    height: 70%;
    /* animation: float 4s ease-in-out infinite; */
}


.footer {
    background-color: bisque;
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: space-between;
}

#container_infor_footer {
    /* border: 1px solid red; */
    font-size: 1.1em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container_icons_social {
    /* border: 1px solid red; */
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 4em;
    color: #3574B9;
}
.icons_social {
    opacity: 0.8;
    transition: all 0.5s;
}

.icons_social:hover {
    scale: 1.1;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.buttons {
    width: 230px;
    height: 80px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    background-color: bisque;
    padding: 20px;
    transition: all 0.5s;
    opacity: 0.8;
}

.buttons:hover {
    scale: 1.1;
    opacity: 1;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
}

.hamburguer.active {
    position: fixed;
    /* left: 10%; */
    top: 10%;
}

.line-span {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.5s;
}

.line-span.active {
    background-color: #000000;
}

.list-full {
    /* border: 1px solid rgb(0, 255, 30); */
    width: 40%;
    height: 100%;
    position: fixed;
    left: -60%;
    top: 0%;
    background-color: white;
    z-index: 100;
    transition: 1s;
}

.list-full.active {
    left: 0%;
}


.hamburguer.active .line-span:nth-child(2) {
    opacity: 0;
    transition: 0.3s;
}
.hamburguer.active .line-span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s;
}
.hamburguer.active .line-span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.5s;
}


@keyframes float{
0%,100%{
transform:translatey(0)
}
50%{
transform:translatey(-20px)
}
}