* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 3px solid red;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.208);
    background-image: linear-gradient(to right, #0B0D0D, #0D1418);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-img-logo {
    /* border: 1px solid red; */
    width: 250px;
    height: 100%;
}

.container-img-logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.list-nav-header {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* border: 1px solid red; */
}
.list-nav-header > li {
    padding: 10px 10px 10px 10px;
}
.list-nav-header li:hover {
    border-bottom: 1px solid #8663FD;
}

.list-nav-header-two {
    /* border: 2px solid rgb(25, 0, 255); */
    list-style: none;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.list-nav-header-two > li {
    padding: 10px;
}
.list-nav-header-two li:hover {
    border-bottom: 1px solid #8663FD;
}


.btn-contact {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    width: 300px;
    height: 60%;
    border-radius: 12px;
    background-color: transparent;
    transition: all 0.5s;
}
.btn-contact:hover {
    border: 2px solid #8663FD;
    color: #8663FD;
}

.btn-contact-two {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    width: 90%;
    height: 10%;
    border-radius: 12px;
    background-color: transparent;
    transition: all 0.5s;
}

.btn-contact-two:hover {
    border: 2px solid #8663FD;
    color: #8663FD;
}


/*menu hamburguer*/

.hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
}
.hamburguer.active {
    position: fixed;
    top: 3%;
    left: 94%;
}

.line-span {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.5s;
}


.list-full {
    width: 40%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0%;
    background-image: linear-gradient(to bottom, #0B0D0D, #0D1418);
    z-index: 100;
    transition: 1s;
    display: flex;
    align-items: center;
}

.list-full.active {
    left: 60%;
}


.hamburguer.active .line-span:nth-child(2) {
    opacity: 0;
    transition: 0.3s;
}
.hamburguer.active .line-span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.5s;
}
.hamburguer.active .line-span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.5s;
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

