header {
    /* border: 2px solid blue; */
    width: 100%;
    min-height: 90vh;
    background-image: url("../img/Background-HOME.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#text-introduction {
    /* border: 3px solid rgb(0, 255, 13); */
    width: 90%;
    height: 50vh;
    margin: auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#text-introduction > h2 {
    font-size: 1.875rem;
}
#text-introduction > h1 {
    font-size: 3.063rem;
}

#text-introduction > button{
    width: 240px;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    background-color: #8663FD;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition: all 0.5s;
}
#text-introduction > button:hover {
    transform: scale(1.1);
}
#text-introduction > button > ion-icon {
    font-size: 1.5em;
}

.color-purple {
    color: #8663FD;
}

#container-midia {
    /* border: 2px solid blue; */
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

#container-midia > p {
    font-size: 1.5rem;
}

#container-icons-midia {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 100%;
    padding-top: 5px;
}

#container-icons-midia > a {
    font-size: 2em;
    color: #ffffff;
    transition: all 0.5s;
}
#container-icons-midia > a:hover {
    color: #8663FD;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    border: 2px solid rgb(0, 8, 255);
}

#section-about {
    width: 100%;
    min-height: 100vh;
    border: 5px solid green;
    background-image: linear-gradient(to bottom, #0B0D0D, #0D1418);
}

.title-sections {
    width: 60%;
    margin: auto;
    border-bottom: 1px solid rgba(171, 171, 171, 0.46);
    padding: 100px 0px 20px 0px;
    text-align: center;
}

.title-sections > h1 {
    font-size: 3.063rem;
}

#container-general-information {
    width: 85%;
    min-height: 70vh;
    margin: auto;
    display: flex;
    gap: 30px;
    padding-top: 60px;
    margin-bottom: 100px;
}


#container-my-image {
    width: 35%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container-my-image > img {
    width: 90%;
    /* object-fit: cover; */
    border-radius: 12px;
}

#container-information {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#text-question {
    font-size: 26px;
}

#personal-data {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#first-part {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#first-part > p {
    display: flex;
    gap: 20px;
}

#second_part {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#second_part > p {
    display: flex;
    gap: 20px;
}

#container-languages {
    display: flex;
    flex-direction: column;
}
#container-languages > p {
    font-weight: bold;
}

#container-logos-languages {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.lenguages {
    width: 50%;
    min-width: 270px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#button-download-cv {
    width: 230px;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    background-color: #8663FD;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transition: all 0.5s;
    font-size: 17px;
}

#button-download-cv > ion-icon {
    font-size: 25px;
}

#section-skills {
    width: 100%;
    min-height: 100vh;
    border: 3px solid rgb(255, 255, 255);
    background-image: linear-gradient(to top, #0B0D0D, #0D1418);
}