#section_focus_icons_tech {
    border: 3px solid blue;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, #0B0D0D, #0D1418);
}

#section_focus_icons_tech > h1 {
    width: 80%;
    margin: auto;
    border: 1px solid green;
    padding: 80px 0px 80px 0px;
    font-size: 3.063rem
}

#container_focus_icon_tech {
    border: 1px solid red;
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.card_in_focus {
    /* border: 1px solid rgb(0, 17, 255); */
    max-width: 550px;
    min-width: 300px;
    height: 16rem;
    background-color: #141415;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 15px;
    opacity: 0.7;
    transition: all 0.5s;
}

.card_in_focus:hover {
    opacity: 1;
    transform: scale(1.1);
}

.img_icon_tech_focus {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_icon_tech_focus > img {
    width: 70%;
    object-fit: contain;
    /* border: 1px solid red; */
    transition: all 0.5s;
}

.img_icon_tech_focus > img:hover {
    transform: scale(1.1);
}

.box_group_description_focus {
    /* border: 2px solid white; */
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description_card_focus {
    line-height: 20px;
}

.status_card_focus {
    color: #8663FD;
    font-weight: bold;
}