*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #000000, #121212, #010112);
    color: #ffffff;
}
#main {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 30px; */
    
}

#ul-nav {
    display: flex;
    width: 300px;
    justify-content: space-between;
    list-style: none;
}

#container-carrinho {
    /* border: 1px solid yellow; */
    width: 50px;
    height: 50px;
}

#container-carrinho > ion-icon {
    font-size: 2.5em;
}

#logo {
    /* border: 1px solid blue; */
    width: 150px;
    height: 100px;
}
#logo > img {
    width: 100%;
    height: 90%;
}

header {
    /* border: 1px solid #ffffff; */
    width: 100%;
    height: 70vh;
}

#container-carrossel {
    /* border: 1px solid rgb(9, 255, 0); */
    width: 95%;
    height: 100%;
    margin: auto;
    /* display: flex;
    align-items: center; */
    position: relative;
    overflow: hidden;
}
.imagens {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.buttons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #494949;
    border: none;
    outline: none;
    color: #fff;
    position: absolute;
    top: 45%;
    z-index: 100;
}
.button-left {
    position: absolute;
    left: 1%;
}
.button-right {
    position: absolute;
    left: 96%;
}

#container-options {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    /* border: 1px solid blue; */
    margin-top: 30px;
}
.img-lanche {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}
.img-lanche > img {
    width: 100%;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

